<a href="https://colab.research.google.com/github/SruBankar/portfolio/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Problem 1: Load the CSV file into a Pandas DataFrame.

import pandas as pd

df = pd.read_csv('school_details.csv')

In [ ]:
#Problem 2: Display the first 5 rows of the DataFrame. Solution:

print(df.head(5))

SyntaxError: ignored

In [ ]:
#Problem 3: Check the number of rows and columns in the DataFrame. Solution:

print("Number of rows:", len(df))
print("Number of columns:", len(df.columns))

In [ ]:
#Problem 4: Select a specific column, such as 'School Name', from the DataFrame.


selected_column = df['School Name']

In [ ]:

#Problem 5: Filter the DataFrame to display schools only in a specific city, e.g., 'New York'.


filtered_df = df[df['City'] == 'New York']

In [ ]:
#Problem 6: Sort the DataFrame in ascending order based on the 'Enrollment' column.


sorted_df = df.sort_values('Enrollment')

In [ ]:
#Problem 7: Group the DataFrame by 'School Type' and calculate the average 'GPA'.

avg_gpa_by_type = df.groupby('School Type')['GPA'].mean()

In [ ]:

#Problem 8: Replace missing values (NaN) in the 'SAT Score' column with the mean value.



mean_sat_score = df['SAT Score'].mean()
df['SAT Score'] = df['SAT Score'].fillna(mean_sat_score)

In [ ]:
#Problem 9: Calculate the maximum 'Enrollment' among all schools.

max_enrollment = df['Enrollment'].max()

In [ ]:

#Export the DataFrame to a new CSV file called 'school_summary.csv'.


df.to_csv('school_summary.csv', index=False)